/* -- main --*/
*{
	margin: 0;
	padding: 0;
	font-weight: normal;
	cursor: default;
}

body{
	background: #ffffff;
	font-family: Arial;	
	margin: 30px;
	background:rgba(41,99,205,.5);
}
a{
	color:rgba(0,101,204,1);
	cursor:pointer;
}
a:hover{
	text-decoration:underline;
}


