<!-- Simple contactsComponent -->
<script type="text/javascript">

	snow.ui.registerComponent("contact",
		{
			parent: "#fstCol",
			emptyParent: true
		},
		{
		build: function(data){
			var thisC = this;
            var dfd = $.Deferred();
			
            var $e = $("#tmpl-contactList").render();
			
            thisC.refreshContactList($(".contactList")).done(function(){
                dfd.resolve($e);
            });
            
            return dfd.promise();
		},
		postDisplay:function(){
			var thisComponent = this;
			var $element = this.$element;
			
			// user click on contact
			$element.delegate(".contact","click",function(){
				var $contact = $(this);
				var id = $contact.attr("data-obj_id");
				//snow.ui.display("contactInfo",{id:id});
			});
			
		},
		refreshContactList: function($contactList){
            $contactList = $contactList || this.$element.find(".contactList");
            return snow.dm.list("contact").done(function(list){
                if (list) {
                    $contactList.empty();
                    var $contacts = $($("#tmpl-contactList-contact").render(list));
                    $contactList.append($contacts);
                }
            });
        }
	});

</script>
<!--  /Simple contactsComponent -->



<script id="tmpl-contactList" type="text/html">
	<div id="contacts-content" class="contactList"></div>
</script>

<script id="tmpl-contactList-contact" type="text/html">
	<div class="contact" data-obj_type="contact" data-obj_id="${id}" >
		<div><span class="name">${name}</span></div>
	</div>	
</script>

